*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

/*Inicia el acordeón*/

#acordeon input{
    display: none;
}

#acordeon label{
    display: block;
    width: 100%;
    line-height: 80px;
    text-align: center;
    background: #ccc;
    border: 1pxsolid #555;
    cursor: pointer;
    }

#acordeon h1{
    padding: 5%;
    }

#acordeon img{
    padding: 0% 5%;
    }   

#acordeon p{
    width: 90%;
    padding: 5%;
    text-align: justify;
    }

#acordeon div{
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: height .5s;
    }

input#bloque1:checked ~ #cont1{
    height: 304px;
    }

input#bloque2:checked ~ #cont2{
    height: 304px;
    }

input#bloque3:checked ~ #cont3{
    height: 304px;
    }